region                  = "us-east-1"
project_name            = "assignment4-kv"
db_instance_type        = "t3.micro"
load_tester_instance_type = "t3.micro"
enable_leaderless_alb   = true

# Optional: set this after pushing your image to Docker Hub or ECR.
app_image = "your-dockerhub-user/assignment4-kv:latest"

# Optional: set this if you want SSH access.
# key_name = "your-ec2-keypair"

write_quorum_size = 1
read_quorum_size  = 1
